name: Continous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'

      - name: Log in with Azure action
        uses: azure/login@v1
        with: 
          creds: '${{ secrets.AZURE_CREDENTIALS }}'

      - name: RUN AZ Command
        run: |
          az account show
          az group list

      - name: aks set context
        uses: azure/aks-set-context@v1
        with:
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
          cluster-name: nefarious
          resource-group: resourcegroup1

      - name: check java version
        run: java -version

      - name: do a gradle build
        run: gradle build

      - name: do a gradlew build
        run: ./gradlew build

      - name: get docker version
        run: |
          docker -v
          docker images -a
      
      - name: docker login
        run: docker login -u ${{ secrets.dockerhubusername }} -p ${{ secrets.dockerhubpassword }}

      - name: build docker image
        run: |
          docker build -t ghazanfar/demo-kotlin:2.0 .
          docker images -a 

      - name: docker image push
        run: docker push ghazanfar/demo-kotlin:2.0